/* 
https://www.woolston.com.au/so-simple-collapsible-responsive-navigation-using-only-css/
https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp
*/

.imok_menu_overlay {
    max-width: 2000px;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
}

.imok_menu_overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.imok_menu_overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    transition: 0.3s;
}

.imok_menu_overlay a:hover,
.imok_menu_overlay a:focus {
    color: #f1f1f1;
}

.imok_menu_overlay .imok_menu_closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 550px) {
    .imok_menu_overlay a {
        font-size: 20px
    }

    .imok_menu_overlay .imok_menu_closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.imok_spinner_overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    text-align: center;
}

.imok_spinner {
    display: none;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: imok_spin 2s linear infinite;
}

@keyframes imok_spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}